:root {
  --black: #000;
  --white: #fff;
  --star-white: #f2f2f2;
  --primary-green: #349a89;
  --primary-yellow: #f1c40f;
  --dark-grey-100: #101010;
  --dark-grey-200: #2b2b2b;
  --dark-grey-300: #303030;
  --dark-grey-400: #373738;
  --dark-grey-500: #505050;
  --grey-500: #8c8c8c;
  --grey-600: #b7b7b7;
  --grey-700: #c0c4ce;
  --grey-800: #dedee0;
  --grey-900: #e4e4e4;
  --grey-1000: #f9fafb;
  --dark-grey-hign-opacity: rgba(19, 15, 2, 0.72);
  --grey-low-opacity: rgba(192, 196, 206, 0.127321);
  --grey-half-opacity: rgba(102, 102, 102, 0.466455);
  --grey-high-opacity: rgba(123, 123, 123, 0.776523);
  --error: #f00;
  --indigo: #3e3961;
  --main-transition: 0.25s ease-in-out;
  --route-transition: 0.3s ease-in-out;
  --form-card-box-shadow: 0 2px 42px rgba(0, 0, 0, 0.111233);
  --product-card-box-shadow: 0 4px 14px rgba(121, 121, 121, 0.0527344);
  --products-filter-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.217111);
  --favorites-btn-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.163407);
  --header-height: 77px;
  --header-extra-height: 166px;
  --footer-height: 73px;
  --filter-category-list-z-index: 20;
  --modal-z-index: 30;
  --sidebar-z-index: 50;
}
